.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  -webkit-user-select: none;
  user-select: none;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #eee;

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #cfcfcf;
  }
}

.btn-primary {
  color: #fff;
  background-color: #36ad3a;
  border-color: #309a33;

  &:hover {
    color: #fff;
    background-color: #2a862d;
    border-color: #216b24;
  }
}
