html,
body {
  background: whitesmoke;
  font-size: 14px;
}

.gm-printer {
  margin: 10px auto;
  background: white;
}

// block
.gm-printer-block {
  position: relative;
  cursor: move;

  &:hover,
  &.active {
    outline: 1px solid rgb(82, 146, 247);
  }

  .gm-printer-block-text-edit {
    position: absolute;
    z-index: 99;
    background: white;
    top: calc(100% + 5px);
    left: 0;
    min-width: 100%;
    font-size: initial;
  }
}

// page
.gm-printer-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  // 开发阶段不 overflow
  //overflow: hidden;

  + .gm-printer-page {
    page-break-before: always;
    margin-top: 10px;
  }

  &-inner {
    position: relative;
    outline: 1px dotted #daebf4;
  }
}

// panel
.gm-printer-panel {
  position: relative;
  outline: 1px dotted #daebf4;

  &::before {
    content: attr(data-placeholder);
    position: absolute;
    font-style: italic;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    left: calc(50% - 1.5em);
    top: calc(50% - 0.5em);
  }
}

// table
.gm-printer-table {
  position: relative;
  outline: 1px dotted #daebf4;

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    td,
    th {
      &.active {
        outline: 1px solid rgb(82, 146, 247);
      }
    }

    th {
      &:hover {
        outline: 1px solid rgb(82, 146, 247);
      }
    }
  }

  &::before {
    content: "表格";
    position: absolute;
    font-style: italic;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    left: calc(50% - 1.5em);
    top: calc(50% - 0.5em);
  }
}

.gm-printer-table.gm-printer-table-classname-default {
  table {
    td,
    th {
      border: 1px solid black;
    }
  }
}

.gm-printer-table.gm-printer-table-classname-className1 {
  table {
    td,
    th {
      border: 1px solid transparent;
    }

    th {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}

@media print {
  * {
    outline: none !important;
  }

  .gm-printer {
    margin: 0;
  }

  .gm-printer-page {
    box-shadow: none;
    overflow: hidden;

    + .gm-printer-page {
      margin-top: 0;
    }
  }

  // panel
  .gm-printer-panel {
    &::before {
      display: none;
    }
  }

  .gm-printer-block {
    .gm-printer-block-text-edit {
      display: none;
    }
  }

  .gm-printer-table {
    &::before {
      display: none;
    }
  }
}

@page {
  margin: 0;
}
