.gm-printer-edit {
  .gm-printer-edit-header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: 0;
    z-index: 99;
    background: white;
    box-shadow: -2px 0 3px 0 hsla(0, 0%, 39%, 0.1);

    .gm-printer-edit-header-top {
      button.active {
        color: white;
        background: rgb(82, 146, 247);
        border-color: rgb(82, 146, 247);
      }
    }

    .gm-printer-edit-header-bottom {
      padding: 10px;
    }

    span.gm-printer-edit-btn {
      cursor: pointer;
      padding: 0 5px;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid rgba(51, 51, 51, 0.1);
      }

      &.active {
        border: 1px solid rgba(51, 51, 51, 0.1);
        background: rgba(51, 51, 51, 0.1);
      }
    }

    select {
      outline: none;
      border: none;
    }

    input {
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      background: transparent;
    }
  }

  .gm-printer-edit-content {
    position: relative;
    padding-right: 300px;

    .gm-printer-edit-content-tip {
      text-align: center;
      padding: 10px;
    }
  }

  .gm-printer-edit-contextmenu {
    padding: 5px 0;
    width: auto;
    min-width: 100px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    > div {
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: white;
        background: rgb(82, 146, 247);
      }
    }
  }

  // mark
  .gm-printer {
    img {
      outline: 1px solid red;
    }
  }
}

@media print {
  .gm-printer-edit {
    .gm-printer-edit-content {
      padding-right: 0;

      .gm-printer-edit-content-tip {
        display: none;
      }
    }

    .gm-printer-edit-header {
      display: none;
    }

    .gm-printer-edit-contextmenu {
      display: none;
    }

    // mark
    .gm-printer {
      img {
        outline: none;
      }
    }
  }
}
