.gm-printer-config {
  span.gm-printer-config-btn {
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #aeaeae;
    }

    &.active {
      border: 1px solid #aeaeae;
      background: #aeaeae;
    }
  }

  button.close {

  }
}
