.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .btn {
    button {
      border-radius: 10px;
      border: 1px solid #00b7ff;
      transition: 0.2s;
      width: 120px;
      color: #00b7ff;
      height: 70px;
      margin: 10px;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        color: white;
        background: #00b7ff;
      }
    }
  }
}
